
.txtbx_disabled{
	border:0;
	background:none;
    font-family: 'DroidSansRegular',Arial,sans-serif;
	font-size:12px;
	color:#000;
}

.formcontent{
padding:8px;
}

.formcontent a{
	font-size:12px;
	font-family:'DroidSansRegular',Arial,sans-serif;
}
#techBlockDescriptionDiv p{
	font-size:12px;
	font-family:'DroidSansRegular',Arial,sans-serif;
	color:#999999;
}
#techBlockDescriptionDiv1{
    margin-bottom: 20px;
}
#techBlockDescriptionDiv1 p{
	font-size:12px;
	font-family:'DroidSansRegular',Arial,sans-serif;
	color:#999999;
}
.posthr1
{
	 border-top:1px dotted #000000;margin-left:88px;border-bottom:none;
	 width:550px;
}
.profilephoto{
	width:150px;
	float:left;
}
.lefttextb label{
	font-size:12px;
	font-family:'DroidSansRegular',Arial,sans-serif;
}
.dsftxt label{
	font-size:12px;
	font-family:'DroidSansRegular',Arial,sans-serif;
}
.profilephoto a{
    font-family: 'DroidSansRegular',Arial,sans-serif;
	font-size:12px;
}
.lefttext3{
float:right;
margin-top:4px;
}
.emptable
{
border-collapse:collapse;
}
.emptable label{
    font-family: 'DroidSansRegular',Arial,sans-serif;
}
.emptable td
{
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
}

.lefttext3 a{
    font-family: 'DroidSansRegular',Arial,sans-serif;
	font-size:12px;
	text-decoration:underline;
	color:#4C4C4C;
}
.lefttext3 a:hover{
color:#000;
cursor:pointer;
}
.initdesc
{
	margin-left:165px;
}

.stsmsg label
{
	padding-top:15px;
    font-family: 'DroidSansRegular',Arial,sans-serif;
	font-size:12px;
	color:#6c6c6c;
}
.initdesc p
{
	padding-top:15px;
    font-family: 'DroidSansRegular',Arial,sans-serif;
	font-size:12px;
	color:#6c6c6c;
}
.empdetails{
clear:left;
}

.empdetails label {
    font-family: 'DroidSansRegular',Arial,sans-serif;
	font-size:12px;
}
.submit-button { 
	background-color:#818285; 
	border:1px solid #818285;
	border-radius:1px;
	text-align:center;
	color:#fff; 
	width:55px; 
	padding-bottom:2px; 
}
.empheading-text
{
    color: #585858;
    display: block;
    font-family: 'DroidSansBold',Arial,sans-serif;
    font-size: 19px;
	font-weight:600;
	margin-bottom:10px;
}

.secondbox{
	clear:left;
	width:98%;
	height:25px;
	background:#ebebec;
	margin-left:5px;
}
.textemp1{
 margin-top:20px;
}
.textemp1 label{
    font-family: 'DroidSansRegular',Arial,sans-serif;
	font-size:12px;
}

.textemp2{
	margin-top:7px;
}

.textemp2 label{
    font-family: 'DroidSansRegular',Arial,sans-serif;
	font-size:12px;
}

.textemp3{
	float:left;
}

.textemp3 label{
    font-family: 'DroidSansRegular',Arial,sans-serif;
	font-size:12px;
}

#statusmsg
{
    font-family: 'DroidSansRegular',Arial,sans-serif;
	font-size:12px;
	color:#ababab;
}
.titletxt{
margin-right:-38px; overflow:hidden; height:16px; resize:none; font-size: 12px; font-family:'DroidSansBold',Arial,sans-serif;
}
.desctxt{
margin-right:-38px; overflow:hidden; height:145px; resize:none; font-size: 12px; font-family:'DroidSansBold',Arial,sans-serif;
}
.line2{
    clear:left; 
    padding-top:4px; 
    border:none; 
    background:#EBEBEC;
}
.savebtnc{
clear:left !important; margin:160px 20px 0 -50px !important; width:100px !important;
}